
<div class="form-inline">
  <span id="searchB" class="glyphicon glyphicon-search"></span>
  <%= render "search_form" %>
</div>
<div>
  <h1>All users</h1>
  <ul class="users">
    <% @users.each do |user| %>
      <li>
        <%= link_to user.email, user %>
      </li>
    <% end %>
  </ul>
</div>
