<div>
  <h3><%= current_user.name %></h3>
</div>

<div id="friend-request-list" class="containter" >
  <% @list_requests.each do |request| %>
  <div class="row">
    <div class="col-md-8"> 
      <%= request.user.email %>
    </div>
    <div class="col-md-4">
      <%= button_to "Accept", {controller: "users/friend", action: "update", friend_id: request.user.id}, method: :put %>
    </div>
  </div>
  <% end %>
</div>
