<div>
  <h3><%= @user.name %></h3>
</div>
<div>
  <%= @user.email %>
  <% if (@user.id != current_user.id) %>
    <% if friend_request_sent @user.id %>
      <button>Friend request sent</button>
    <% elsif is_friend @user.id %>
      <button>Friend</button>
    <% else %>
    <%= button_to "Request friends", {controller: "users/friend", action: "create", friend_id: @user.id} %>
    <% end %>
  <% end %>
</div>
