body {
    padding-top: 70px;
}

footer {
    margin: 50px 0;
}
/* search */
#searchDiv {
    display: none;
}

.form-group {
  overflow: hidden;
  padding: 3px 3px;
  font-size: 18px;
}

span {
  margin-left: 20px;
  font-weight: normal;
  }
